#######################################################################
# LOCALS
#######################################################################

# Editor
.vscode/

# Stored PDF files
*/**/*.pdf

# But keep my CV
!curriculum/2025-07/*.pdf

# Any sandbox files
sandbox*

# Any log
*.log

# Temporary backup
*~

# Trash
.trash/

# Downloaded videos:
downloads/*

# Intermediate pandoc
book_.tex

#######################################################################
# EDITORS
#######################################################################

# Ignore Obsidian workspace file
.obsidian/workspace.json

#######################################################################
# JULIA AND RELATED
#######################################################################

# CondaPkg
.CondaPkg/

#######################################################################
# PYTHON AND RELATED
#######################################################################

# Python cache
__pycache__/*
*.pyc

# Jupyter
.ipynb_checkpoints/
.virtual_documents/
*.ipynb

# Alternative environment name.
venv*/

#######################################################################
# LATEX
#######################################################################

# Intermediates
*.aux
*.bbl
*.bcf
*.blg
*.run.xml
*.toc

# Bibtex backups
*.bib.sav
*.bib.bkp
*.bib.bak

#######################################################################
# OTHER
#######################################################################

# Quarto outputs
*_files
*.docx
*.html
*.ipynb
*.pdf
*.qmd

# FreeCAD files
*.FCStd
*.FCBak

# Octave
octave-workspace

# Fluent
cleanup-fluent-*.bat
fluent-*.log

# MFIX default tutorials run locally:
# fb_gsp/*
# fb_mi_gsp/*

# Dumped images:
*.sif
*.tar

# Raw GPX tracks will all points.
*.gpx.orig

#######################################################################
# EOF
#######################################################################