# Ignore Obsidian workspace file
.obsidian/workspace.json

# Jupyter
.ipynb_checkpoints/
.virtual_documents/
*.ipynb

# CondaPkg
.CondaPkg/

# Generated PDF files
outputs/*.pdf

# Stored PDF files
*/**/*.pdf

# But keep my CV
!curriculum/2025-07/*.pdf

# Any sandbox files
sandbox*

# Any virtual environment
venv/

# FreeCAD files
*.FCStd
*.FCBak

# Python cache
__pycache__/*
*.pyc

# Alternative environment name.
venv*/

# Octave
octave-workspace

# Any log
*.log

# Temporary backup
*~

# Trash
.trash/

# Fluent
cleanup-fluent-*.bat
fluent-*.log

# MFIX default tutorials run locally:
# fb_gsp/*
# fb_mi_gsp/*

# Bibtex backups
*.bib.sav
*.bib.bkp
*.bib.bak

# Quarto outputs
*_files
*.docx
*.html
*.ipynb
*.pdf
*.qmd
# *.tex

# Downloaded videos:
downloads/*

# Dumped images:
*.sif
*.tar

# Raw GPX tracks will all points.
*.gpx.orig
