# Ignore Obsidian workspace file
.obsidian/workspace.json

# Jupyter
.ipynb_checkpoints/
.virtual_documents/

# Generated PDF files
outputs/*.pdf

# Stored PDF files
*/**/*.pdf

# But keep my CV
!curriculum/*.pdf

# Any sandbox files
sandbox*

# Any virtual environment
venv/

# FreeCAD files
*.FCStd
*.FCBak